.carousel .control-dots .dot {
    border-radius: 0% !important;
    width: 20px !important;
    height: 2px !important;
  }
  
  .carousel .control-dots .dot:active {
    border-radius: 0% !important;
    width: 20px !important;
    height: 5px !important;
  }
  
  
  /* For all other screen sizes, display 3 items */
  .slide {
    min-width: 50% !important;
  }

  @media only screen and (max-width:734px) {
  .CarouselPlacer{
    width: 100%;
    height: 5rem;
  }
  
  }