.carousel .control-dots .dot {
  border-radius: 0% !important;
  width: 20px !important;
  height: 2px !important;
}

.carousel .control-dots .dot:active {
  border-radius: 0% !important;
  width: 20px !important;
  height: 5px !important;
}

/* For all other screen sizes, display 3 items */
.slide {
  min-width: 90%;
}

@media only screen and (max-width: 734px) {
  .carousel .slide {
    min-width: 100%;
    min-height: 10rem;
  }
  .slide .img {
    min-height: 10rem;
  }
}
