.menuItems {
  /* max-width: 100%; */
  margin-bottom: 2rem;
  width: 10rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 10rem;
  margin: auto 1rem;
}
.card_img {
  height: 7rem;
  width: 8.5rem;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 6px;
}
.card_text {
  height: 3rem;
  width: 8.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .menuItems {
    max-width: 100%; 
    margin-bottom: 1rem;
    width: 7rem;
    flex-grow: 0;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0 1rem;
    margin: auto 1rem;
  }
  .menuItemImg {
    width: 100%;
    height: 100%;
    /* padding: 0.5rem; */
  }
}
