.store_locations {
  margin: 0 auto;
  width: 90%;
  margin-top: 1rem;
  background-color: white;
}
.location_container {
  border-radius: 2px;
  padding: 20px 3rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.city_location {
  font-size: x-large;
}
.store_address {
  color: gray;
}
.current_status {
  color: rgb(139, 194, 56);
  font-weight: bolder;
}
.store_distance {
  font-size: medium;
}
.line {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: rgb(235, 235, 235);
}
.themes {
  color: #ee7700;
  font-size: large;
  /* font-weight: 600; */
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .store_locations {
    margin: 0 auto;
    width: 90%;
    margin-top: 1rem;
    background-color: white;
    border-radius: 6px;
  }
  .location_container {
    border-radius: 2px;
    padding: 0.3rem 0.8rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .city_location {
    font-size: large;
  }
  .store_timing {
    font-family: "FlameSans-regular";
    font-size: small;
    /* font-weight: 600; */
  }
  .store_address {
    color: rgb(94, 94, 94);
    font-family: "FlameSans-regular";
    font-size: x-small;
    /* font-weight: 600; */
  }
  .current_status {
    color: rgb(139, 194, 56);
    font-weight: bolder;
    font-size: x-small;
  }
  .store_distance {
    font-size: medium;
    font-size: x-small;
  }
  .line {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(240, 240, 240);
  }
  .themes {
    color: #ee7700;
    font-size: small;
    /* font-weight: 600; */
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  span {
    cursor: pointer;
  }
}
