.topSession {
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: space-around;
}
.topTextDesc {
  font-family: system-ui;
  color: gray;
  font-weight: 500;
  margin: 0;
}
.topImage{
  width: 7rem;
  height: 7rem;
}
.TopImageClass{
  width: 100%;
  height: 100%;
}