/* @font-face {
  font-family: "ItcAmericanTypewriterLtBold";
  src: url("https://fontsforyou.com/fonts/i/ItcAmericanTypewriterLtBold.ttf");
} */


@font-face {
  font-family: 'Flame';
  src: local('Flame'), url(./assests/fonts/Flame-Regular.ttf) format('truetype');
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Flame', sans-serif;
}