.scroll_wrapper {
  height: 15rem;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .scroll_wrapper {
    height: 11rem;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
}
